@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

@media screen and (min-width:320px),
screen and (max-height:479px)
and (orientation: landscape){

    body{
        font-family: "Nanum Gothic", sans-serif; 
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .downnav{
        margin-right: 50px;
    }

    .starticon1 a{
        text-decoration: none;
        color: white;
    }

    .starticon a{
        text-decoration: none;
        color: white;
    }

    span.starticon1{
        display: block;
        position: sticky;
        width: 180px;
        height: 50px;
        line-height: 48px;
        text-align: center;
        font-size: 18px;
        font-weight: bolder;
        border-radius: 20px;
        color: white;
        background-color:#e61e4d;
        margin-top: 15px;
        bottom: 0;
        z-index: 100;
    }

    div.main{
        display: block;
    }

    .main img{
        margin-top: 0px;
        width: 100%;
        height: auto;
        margin-bottom: 50px;
    }

    .nav{
        font-family: "Nanum Gothic", sans-serif; 
        height: 80px;
        position: sticky;
        background-color: white;
        top: 0;
        overflow: hidden;
        margin-right: 0;
    }


    .nav ul{
        width: 100%;
        height: 80px;
        margin-top: 0;
        display: flex;
        justify-content: space-between; /* 요소들을 양쪽 끝으로 정렬 */
        margin-right:0;
        margin-bottom: 0;
    }

    .nav ul li{
        list-style: none;
    }

    .logo{
        width: 170px;
        height: auto;
        padding: 3px;
    }

    .nav p{
        display: none;
        margin-left: 4px;
        font-size: 25px;
        font-weight: bolder; 
        margin-top: 23px;
        margin-right: 24px;
    }

    span.starticon{
        display: none;
        width: 210px;
        height: 50px;
        line-height: 48px;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        border-radius: 20px;
        color: white;
        background-color:#e61e4d;
        margin-top: 15px;
    }

    .nav1{
        display: flex;
        justify-content: space-between;
        margin-right: 100px;
    }

    .wrap{
        width: 80%;
        margin: 0 auto;
    }

    header{
        text-align: center;
    }

    h1{
        font-family: normal;
        color: #FF385C;
        font-size: 32px;
        margin-bottom: 40px;
        text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.521);
    }

    header a{
        color: black;
        font-size: 18px;
        font-weight: bold;
    }

    .income{
        color: black;
        font-size: 25px;
    }

    p.p1{
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 17px;
    }

    .p2{
        margin-top: 0px;
        font-size: 17px;
    }

    .map p{
        font-weight: bold;
        margin-top: 12px;
        font-size: 12px;
    }

    .search{
        width: 40px;
        height: 44px;
        margin-right: 19px;
        margin-left: 15px;
        margin-top: 15px;
    }

    .mapmobile{
        width: 50vw;
        margin-top: 30px;
        display: flex;
        max-width: 100%;
        height: auto;
        border-radius: 20px;
        box-shadow: 0px 5px 5px rgba(0, 1, 4, 10);
        padding: 2px;
        margin-bottom: 50px;
        border: 2px solid gray;
        margin-left: 20%;
    }

    .map{
        width: 50vw;
        margin-top: 30px;
        display: flex;
        max-width: 100%;
        height: auto;
        border-radius: 20px;
        box-shadow: 0px 2px 4px rgba(0, 1, 4, 10);
        padding: 2px;
        margin-bottom: 50px;
        border: 2px solid gray;
        margin-left: 15%;
    }

    p.h3{
        font-size: 27px;
        text-align: center;
        letter-spacing: 3px;
        font-weight: bolder;
        margin-bottom: 40px;
    }

    .start{
        display: flex;
        flex-direction: column; /* 요소들을 수직으로 배치 */
        align-items: center; /* 요소들을 가운데 정렬 */
    }

    .starter{
        height: 250px;
        width: 500px;
    }

    section ul{
        display: block;
        list-style: none;
        padding: 0;
        margin-top: 0;
        margin-bottom: 80px;
    }


    section h5{
        margin-top: 0px;
        font-size: 20px;
    }

    .section{
        display: block;
    }

    .section p{
        font-size: 20px;
    }

.table{
    width: auto;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 13px;
    text-align: left;
  }

  .table th {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    padding-right: 35px;
  }

  .table th, .table td{
    font-weight: bold;
    }

    .td1 p{
        color: black;
    }

    .table td{
        color: gray;
        font-size: 20px;
    }

    .tr1{
        border-top: 2px solid lightsteelblue;
    }


  @keyframes bounceAnimation1 {
    0%, 100% {
      transform: translateY(0); 
    }
    50% {
      transform: translateY(-20px); 
    }
  }

  @keyframes bounceAnimation2 {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(1.5rem);
    }
  }

  div ul li{
    margin-top: 60px;
    display: inline-block;
  }

  div ul li{
    margin-top: 60px;
  }

  .p1{
    font-size: 30px;
    font-weight: bold;
    margin-top: 100px;
  }

    button{
        margin-left: 50px;
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s ease;
        
    }

    button:hover {
        background-color: #0056b3;
      }

    .superhost ul{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }

    .superhost ul li{
        display: inline-block;
    }

    div.superhost{
        max-width: 100%;
        height: auto;
        display: flex;
        animation: bounceAnimation1 1s infinite;
        margin-top: 0;
        margin-bottom: 50px;
        padding: 0;
    }

    img.superhost1 {
        width: 100px;
        height: 100px;
        background-size: cover;
        border-radius: 50%;
      }
    
      img.superhost2 {
        width: 120px;
        height: 120px;
        background-size: cover;
        border-radius: 50%;
      }

    footer ul{
        margin: 0;
        padding: 0;
        height: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    footer ul li a{
        text-decoration: none;
        color: rgba(49, 48, 48, 0.594)
    }

    footer p{
        font-size: 12px;
        color: rgba(49, 48, 48, 0.594);
        
    }

    div.border{
        border: 1px solid darkgray;
    }

    .mapmobile1{display: none;}
}


@media screen and (min-width:768px),
screen and (min-height:760px) and (orientation: landscape){

    .downnav{
        display: none;
    }

    .logo{
        margin-top: 4px;
    }

    .nav p{
        display: block;
        margin-left: 4px;
        font-size: 17px;
        font-weight: bold; 
        margin-top: 30px;
        margin-right: 24px;
    }


    span.starticon{
        font-family: normal;
        margin-top: 15px;
        display: block;
        width: 180px;
        height: 50px;
        line-height: 48px;
        text-align: center;
        font-size: 18px;
        border-radius: 20px;
        color: white;
        background: #e61e4d;
    }


    .starter{
        height: 700px;
        width: 1200px;
    }

    h1{
        margin-bottom: 20px;
        font-size: 30px;
    }

    header.p1{
        margin-top: 0px;
        margin-bottom: 5px;
        font-size: 10px;
    }

    .p2{
        margin-top: 0px;
        font-size: 17px;
    }

}

@media screen and (min-width:1024px){

    .main img{
        margin-top: 0px;
        width: 100%;
        height: auto;
        max-height: 1080px;
        margin-bottom: 50px;
    }
    
    h1{
        font-size: 50px;
    }

    p.p1{
        margin-top: 30px;
        font-size: 26px;
    }
    
    header a{
        font-family: normal;
        font-size: 25px;
    }

    span.income{
        font-size: 30px;
    }

    p.p2{
        margin-top: 8px;
    }

    p.h3{
        font-size: 40px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }


    section h5{
        font-size: 30px;
    }

    section ul{
        padding: 0 150px;
    }

    .section p{
        font-size: 28x;
    }

    .tableset{
        display: flex;
        justify-content: center;
        align-items: center; 
        margin-bottom: 20px;
    }
    
    .mapmobile{
        display:none;
    }

    p.p1{
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center; 

    }

    p.p2{
        font-size: 26px;
        display: flex;
        justify-content: center;
        align-items: center; 
        margin-bottom: 20px;
    }

    button{
        margin-left: 50px;
        margin-top: 30px;
        padding: 10px 20px;
        font-size: 20px;
        
}
    .superhost{
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    img.superhost1 {
        width: 300px;
        height: 300px;
        background-size: cover;
        border-radius: 50%;
      }
    
      img.superhost2 {
        width: 320px;
        height: 320px;
        background-size: cover;
        border-radius: 50%;
      }

      .map{
        margin-top: 50px;
        width: 70%; 
        padding: 3px;
      }

      .map p{
        font-size: 23px;
      }
      .mapmobile1{
        display: flex;
        position: center;
        width: 70%;
        max-width: 700px;
        height: 500px;
        margin: 0 auto;
        border-radius: 20px;
        box-shadow: 0px 2px 4px rgba(0, 1, 4, 10);
        padding: 2px;
        border: 2px solid gray;
        margin-bottom: 60px;
      }


    }


