nav{
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logoImg img{
    width: 170px;
    margin-left: 10px;
}
.navImg{
    margin: 27px 30px;
}
.navImg img{
    width: 30px;
    margin-right: 5px;
}
.main_menu{
    text-decoration: none;
    margin-top: 30px;
}

